Работали: Якушев Олег, Квасников Дмитрий
библиотеки: 
aiogram,
sqlalchemy, 
flask (все доп библиотеки)
...

как запустить: Открыть файлы test.py и main.py в PyCharm и запустить их

ссылка на сайт: http://localhost:8080/
ссылка на бота: https://t.me/RaspOnlineBot