{% extends "base.html" %}

{% block content %}
<h1>Привет, {{ current_user.name }}</h1>
{% if check%}
<div class="alert alert-primary" role="alert"><h2>Код класса: {{check.klass.class_key}}</h2></div>
{% endif %}
<form action="" method="post">
    <div class="grid text-center">
    <table id="myTable" class="display">
    <thead>
        <tr>
            <div class="g-col-6"><th>ID</th></div>
            <div class="g-col-6"><th>Предмет</th></div>
            <div class="g-col-6"><th>Преподаватель</th></div>
            <div class="g-col-6"><th>Корпус</th></div>
            <div class="g-col-6"><th>Аудитория</th></div>
            <div class="g-col-6"><th>Время</th></div>
        </tr>
    </thead>
    <tbody>
        <div class="col-md6 border rounded">
        {% for day in full_rasp.keys() %}
            {% if full_rasp[day]%}
                <tr>
                    <td></td>
                    <td></td>
                    <td><h1>{{day}}</h1></td>
                </tr>
            {% for item in full_rasp[day] %}
            <tr>
                <div class="--bs-table-hover-bg:#e5c7ca"><td><h2 align="center">{{item.id}}</h2></td></div>
                <div class="--bs-table-active-bg:#cbccce"><td><h2 align="center">{{item.subject.name}}</h2></td></div>
                <div class="--bs-table-active-bg:#cbccce"><td><h2 align="center">{{item.teacher.fio}}</h2></td></div>
                <div class="--bs-table-active-bg:#cbccce"><td><h2 align="center">{{item.auditory.corpus.name}}</h2></td></div>
                <div class="--bs-table-active-bg:#cbccce"><td><h2 align="center">{{item.auditory.name}}</h2></td></div>
                <div class="--bs-table-active-bg:#cbccce"><td><h2 align="center">{{item.start_time.time().hour}}:{{item.start_time.time().minute}}</h2></td></div>
                <div class="--bs-table-active-bg:#cbccce"><td><form action="http://{{host}}:{{port}}/redact_rasp/{{week_day}}/{{item.id}}"></div>
            </tr>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
    </tbody>
</table>
</form>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{form.create_class(type="submit", class="btn btn-primary")}}</p>
    <p>{{form.add_class(type="submit", class="btn btn-primary")}}</p>
    {% if check %}
        <p>{{form.redact_teachers(type="submit", class="btn btn-primary")}}</p>
        <p>{{form.redact_corpuses(type="submit", class="btn btn-primary")}}</p>
        <p>{{form.redact_auditories(type="submit", class="btn btn-primary")}}</p>
        <p>{{form.redact_days(type="submit", class="btn btn-primary")}}</p>
    {% endif %}
    <p>{{form.choose_button(type="submit", class="btn btn-primary")}}</p>
</form>
{% endblock %}